body {
    font-family: 'Georgia', 'serif';
    line-height: 2;
    margin: 0%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    
}

.background { /* calls just to the background div but we (the computer) still dk what that is */
    background-image: url(trees-sfglo.png);
    height: 100vh; /* vh is veigh height */
    width: 100%;
    background-size: cover; /* supposably makes bg take whole screen despite size */
    background-position: center center; /* centers image in x and y so a small screen has the midmost section of bg instead of random side */
    position: fixed; /* stay put so that text can go on top of image! */
    top: 0; /* start at top of page */
    z-index: -1; /* makes a layer kind of effect so it's behind everything else on the page */ 
}
/* Header styles */
header {
    background: #333;
    color: #fff;
    padding: 10%;
    text-align: center;
}

.btn-primary {
    background-color: #007bff; /* Blue background color */
    color: white; /* White text color */
    padding: 10px 20px; /* Padding inside the button */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
}


